<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DashBoard</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1><a href="/" style="text-decoration: none;"><b>–</b>board</a></h1>
            {{#if loggedIn}}
            <div class="bar">
                <span class="you" id="newpost"><span class="tooltip">new post</span>+</span>
                <span class="you">@{{currentUser}}</span>
                <a id="logout" class="headerbtn">logout</a>
            </div>
            {{/if}}
        </header>

        {{{body}}}

    </body>
</html>