        <header>
            <h1><b>–</b>board</h1>
        </header>
        <main>
            <div class="post-container">
                <div class="title-card">
                    <h2>Log In</h2>
                </div>
                <div class="login-card">
                    <input type="email" class="login" placeholder="Enter email">
                    <input type="password" class="login" placeholder="Enter password">
                    <a class="btn">submit</a>
                </div>
            </div>
            <br><br>
            <div class="post-container">
                <div class="title-card">
                    <h2>Sign Up</h2>
                </div>
                <div class="login-card">
                    <input id="newemail" type="email" class="login" placeholder="Enter email">
                    <input id="newuser" type="text" class="login" placeholder="Enter username">
                    <input id="newpassword" type="password" class="login" placeholder="Enter password">
                    <a id="newsubmit" class="btn">submit</a>
                </div>
            </div>
        </main>
        <script src="/js/signup.js"></script>